In [1]:
#import the plotting libraries
import matplotlib.pyplot as plt
import seaborn as sb
import plotly as py
import plotly.express as px
import sketch
import numpy as np
import pandas as pd
from io import StringIO
import requests

import warnings

In [10]:
# Loading dataset
df = pd.read_csv("loan.csv")
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_19728\3261746476.py:2: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("loan.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,54734,80364,25000,25000,19080.057200,36 months,11.89%,829.10,B,B4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,55742,114426,7000,7000,672.803839,36 months,10.71%,228.22,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,57245,138150,1200,1200,1200.000000,36 months,13.11%,40.50,C,C2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,57416,139635,10800,10800,10691.551050,36 months,13.57%,366.86,C,C3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,58915,153417,7500,5025,557.087228,36 months,10.08%,162.34,B,B3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [11]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [12]:
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [13]:
df.id.count()

np.int64(39717)

In [16]:
nullV= df.isnull().sum()

In [26]:
nullV.sort_values(ascending=False).head(20)

num_op_rev_tl            39717
num_il_tl                39717
num_bc_tl                39717
num_bc_sats              39717
num_actv_rev_tl          39717
num_actv_bc_tl           39717
num_rev_tl_bal_gt_0      39717
num_rev_accts            39717
total_cu_tl              39717
inq_last_12m             39717
acc_open_past_24mths     39717
avg_cur_bal              39717
bc_open_to_buy           39717
bc_util                  39717
mo_sin_old_rev_tl_op     39717
mo_sin_old_il_acct       39717
mort_acc                 39717
mths_since_recent_bc     39717
mo_sin_rcnt_rev_tl_op    39717
mo_sin_rcnt_tl           39717
dtype: int64

In [29]:
nullCol = np.array(nullV.loc[lambda x : x == 39717].index)

In [ ]:
# Removed all Null Columns
df = df.drop(columns=nullCol)

In [32]:
df.isnull().sum().sort_values(ascending=False)

next_pymnt_d                  38577
mths_since_last_record        36931
mths_since_last_delinq        25682
desc                          12942
emp_title                      2459
emp_length                     1075
pub_rec_bankruptcies            697
last_pymnt_d                     71
collections_12_mths_ex_med       56
chargeoff_within_12_mths         56
revol_util                       50
tax_liens                        39
title                            11
last_credit_pull_d                2
verification_status               0
annual_inc                        0
term                              0
grade                             0
installment                       0
int_rate                          0
funded_amnt_inv                   0
member_id                         0
loan_amnt                         0
funded_amnt                       0
id                                0
dti                               0
addr_state                        0
zip_code                          0
purpose                           0
pymnt_plan                        0
url                               0
issue_d                           0
loan_status                       0
home_ownership                    0
sub_grade                         0
revol_bal                         0
earliest_cr_line                  0
inq_last_6mths                    0
open_acc                          0
pub_rec                           0
delinq_2yrs                       0
total_rec_prncp                   0
total_pymnt_inv                   0
total_pymnt                       0
out_prncp_inv                     0
out_prncp                         0
initial_list_status               0
total_acc                         0
total_rec_int                     0
last_pymnt_amnt                   0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
acc_now_delinq                    0
application_type                  0
policy_code                       0
delinq_amnt                       0
dtype: int64